footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px; /* classe de teste, não estou em casa para ver como a classe se comporta na aplicação */
}
