.nav {
  display: flex;
  justify-content: space-between;
  background: #0051ff;
  color: white;
  padding: 15px;
}

.menu a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
